  $navbar-light-toggler-border-color: none;
  $--pad: max(20px, 4vmin);
  $--bg-dark : black;
  $--bg-light : white;
  $--text-dark: black;
  $--text-light : white;
  $--text-style: 'Courier Prime', monospace;
  $--vh-full-fit: 100vh;
  $--vh : 9.23px;

 



* {
  margin: 0;
  padding: 0;
  font-family: $--text-style;
}

.main{
  min-height: $--vh-full-fit;
  background-color: $--bg-dark;
  

  .frame {
    position: fixed;
    left: $--pad;
    right: $--pad;
    top:  $--pad;
    bottom: $--pad;
    overflow: hidden;
    border: 5px solid  $--bg-light;
    border-radius: $--pad;
  
    .header{

      nav{
        margin: 20px 10px;

        .navbar-toggler{
          color: transparent !important;
        }

      }
    }
  }
}

.main-page{
  min-height: 80%;

  #main-page-spacer{
    height: 30vh;
  }
  
}














